<!-- FOOTER-->
<footer class="footer">
    <div class="footer__logo">
        Version <%= Rails.configuration.version %>
    </div>
    <ul class="footer__nav">
        <li>
            <a href="#">Help</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <p class="footer__copyright">
        <strong>Copyright</strong> &copy; <%= Time.now.year %> Nathnael Getahun (Software Engineer)
    </p>
</footer> 